/* 設定不同裝置寬度下表格的顯示方式 */
@media screen and (max-width: 768px) {
    table {
        display: block;
        overflow-x: auto;
        width: 100%;
    }
}

body {
    text-align: center;
}

/* 設定表格樣式 */
table {
    font-family: Arial, sans-serif;
    width: 80%;
    /* 設定表格寬度為80% */
    margin: 0 auto;
    /* 將表格水平置中 */
    border-collapse: collapse;
    /* 合併邊框 */
    text-align: center;
    /* 將表格內容文字置中 */
}

/* 設定表格標題列的樣式 */
th {
    background-color: #0e9fed;
    color: white;
    padding: 8px;
    font-size: 24px;
}

/* 設定奇數行的背景色 */
tr:nth-child(odd) {
    background-color: #f2f2f2;
}

/* 設定單元格的邊框 */
td,
th {
    border: 1px solid #ddd;
    padding: 10px;
}

/* 設定滑鼠移到表格上時的樣式 */
tr:hover {
    background-color: #ddd;
}

/* 設定表格標題列隨著捲動一起固定 */
thead th {
    position: sticky;
    top: 0;
}

#current-date {
    color: #333;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}